/* CUSTOM PROPS */
:root {
    --font-family: "Kumbh Sans", "Arial", sans-serif;
    --text-dark: #1D2026;
    --text-color: #69707D;
    --accent-color-hover: #FFAB6A;
    --accent-color: #FF7E1B;
    --light-bg: #F6F8FD;
    --accent-color-light: #FFEEE2;
    --divider-bg: #E4E9F2;
}



/* FONT-FACES */
@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/KumbhSans-Regular.woff2') format('woff2'),
    url('../fonts/KumbhSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/KumbhSans-Bold.woff2') format('woff2'),
    url('../fonts/KumbhSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--font-family);
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTO-FILLS STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */

/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
}  */


/* VISUALLY-HIDDEN */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1148px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}



/* LOGO */
.logo {
    display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 127px;
    height: 20px;
    object-fit: contain;
}


/* SITENAV */
.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item {
    position: relative;
    padding-top: 41px;
    padding-bottom: 45px;
}

.sitenav__item:not(:last-child) {
    margin-right: 32px;
}

.sitenav__link {
    display: block;
    font-size: 15px;
    line-height: 26px;
    color: var(--text-color);
    text-decoration: none;
}

.sitenav__link:hover::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    content: "";
}

.sitenav__link:hover {
    color: var(--text-dark);
}



/* BUTTON */
.button {
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--accent-color);
    color: #fff;
    overflow: hidden;
    text-align: center;
}

.button-block {
    display: flex;
    width: 100%;
}

.button:hover {
    background-color: var(--accent-color-hover);
}

.button:active {
    transform: translateY(2px);
}

.button-wide {
    min-width: 272px;
}

.button-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 22px 20px 18px;
}

.button-prepend {
    margin-right: 16px;
}



/* SHOPPING-CART-PRODUCTS */
.shopping-cart-products {
    padding: 0;
    margin: 0;
    list-style: none;
}

.shopping-cart-products__item:not(:last-child) {
    margin-bottom: 16px;
}


/* ITEM-SHOPPING-CART-PRODUCTS */
.item-shopping-cart-products {
    display: flex;
    align-items: flex-start;
}

.item-shopping-cart-products__img {
    flex-shrink: 0;
    margin-right: 16px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.item-shopping-cart-products__info {
    flex-grow: 1;
    width: 100%;
    margin-right: 18px;
    overflow: hidden;
}

.item-shopping-cart-products__name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
}

.item-shopping-cart-products__subtotal {
    font-weight: bold;
    color: var(--text-dark);
}

.item-shopping-cart-products__remove-button {   
    padding: 0;
    border: 0;
    color: transparent;
    align-self: center;
    color: #C3CAD9;
    cursor: pointer;
}

.item-shopping-cart-products__remove-icon {
    display: block;
    width: 14px;
    height: 16px;
}


.item-shopping-cart-products__remove-button:hover {
    color: var(--text-dark);
}

.item-shopping-cart-products__remove-button:active {
    opacity: 0.6;
}




/* SHOPPING-CART */
.shopping-cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 256px;
    border-radius: 6px;
    background-color: #fff;
}

.shopping-cart__modal {
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.50);
}

.shopping-cart___header {
    padding: 24px 24px 27px;
    border-bottom: 1px solid var(--divider-bg);
}

.shopping-cart__title {
    margin: 0;
    color: var(--text-dark);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.shopping-cart__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.shopping-cart__empty {
    display: none;
}

.shopping-cart--empty .shopping-cart__empty {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.shopping-cart--empty .shopping-cart__content {
    display: none;
}

.shopping-cart__products {
    margin-bottom: 24px;
}



/* IMG-SHOWCASE */
.img-showcase__showcase {
    margin-bottom: 32px;
}

.img-showcase__active-img {
    display: block;
    width: 445px;
    height: 445px;
    object-fit: cover;
    border-radius: 15px;
}

.img-showcase_thumbnails {
    display: flex;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    list-style: none;
    overflow: auto;
    /* Foreground, Background */
    scrollbar-color: var(--accent-color) var(--divider-bg);
}

.img-showcase_thumbnails::-webkit-scrollbar {
    width: 10px; /* Mostly for vertical scrollbars */
    height: 10px; /* Mostly for horizontal scrollbars */
}
.img-showcase_thumbnails::-webkit-scrollbar-thumb { /* Foreground */
    border-radius: 5px;
    background: var(--accent-color);
}
.img-showcase_thumbnails::-webkit-scrollbar-track { /* Background */
    border-radius: 5px;
    background: var(--divider-bg);
}

.img-showcase_thumbnail {
    flex-shrink: 0;
}

.img-showcase_thumbnail:not(:last-child) {
    margin-right: 31px;
}

.img-showcase__thumbnail-button {
    position: relative;
    display: block;
    padding: 0;
    border: 0;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
}

.img-showcase__thumbnail-button::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
    opacity: 0;
}

.img-showcase__thumbnail-button:hover::after {
    opacity: 1;
}

.img-showcase__thumbnail-button:active {
    opacity: 0.6;
}

.img-showcase_thumbnail--active .img-showcase__thumbnail-button::after {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid var(--accent-color);
}

.img-showcase__thumbnail-img {
    display: block;
    width: 88px;
    height: 88px;
    border-radius: 10px;
    object-fit: cover;
}


/* MAIN-CONTENT */

main {
    flex-grow: 1;
}



/* SITE-HEADER */
.site-header__container {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--divider-bg);
}

.site-header__logo {
    flex-shrink: 0;
    margin-right: 56px;
}

.site-header__sitenav {
    margin-right: auto;
}


.site-header__cart {
    margin-right: 46px;
    margin-left: 24px;
}

.site-header__cart-link {
    position: relative;
    display: flex;
    color: var(--text-color);
}

.site-header__cart-link:hover {
    color: var(--text-dark);
}

.site-header__cart-link:active {
    opacity: 0.6;
}

.site-header__cart-product-count {
    position: absolute;
    left: calc(100% - 13px);
    top: -6px;
    padding: 1px 6px;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 10px;
    line-height: normal;
    font-weight: bold;
    border-radius: 6.5px;
}

.site-header__cart--empty .site-header__cart-product-count {
    display: none;
}  

.site-header__cart-icon {
    width: 22px;
    height: 20px;
    object-fit: contain;
}

.site-header__cart-modal {
    display: none;
}

.site-header__cart-modal--open {
    position: absolute;
    right: -76px;
    top: 94px;
    display: block;
    width: 360px;
}

.site-header__profile-link {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
    overflow: hidden;
}

.site-header__profile-link:hover {
    border-color: var(--accent-color);
}

.site-header__profile-link:active {
    opacity: 0.6;
}

.site-header__avatar {
    width: 50px;
    height: 50px;
    object-fit: contain;
}


/* MAIN-CONTENT */
/* PRODUCT-PAGE */
.product-page {
    padding-top: 90px;
    padding-bottom: 90px;
}

.product-page__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1063px;
}

.product-page__gallery {
    width: 100%;
    max-width: 445px;
    margin-right: 48px;
}

.product-page__info {
    width: 100%;
    max-width: 445px;
}


