/* CUSTOM PROPS */
:root {
    --font-family: "Kumbh Sans", "Arial", sans-serif;
    --text-dark: #1D2026;
    --text-color: #69707D;
    --accent-color-hover: #FFAB6A;
    --accent-color: #FF7E1B;
    --light-bg: #F6F8FD;
    --accent-color-light: #FFEEE2;
    --divider-bg: #E4E9F2;
}



/* FONT-FACES */
@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/KumbhSans-Regular.woff2') format('woff2'),
        url('../fonts/KumbhSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../fonts/KumbhSans-Bold.woff2') format('woff2'),
        url('../fonts/KumbhSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--font-family);
    background-color: #fff;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTO-FILLS STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */

/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
}  */


/* VISUALLY-HIDDEN */
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1148px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}



/* LOGO */
.logo {
    display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 127px;
    height: 20px;
    object-fit: contain;
}


/* SITENAV */
.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sitenav__item {
    position: relative;
    padding-top: 41px;
    padding-bottom: 45px;
}

.sitenav__item:not(:last-child) {
    margin-right: 32px;
}

.sitenav__link {
    display: block;
    font-size: 15px;
    line-height: 26px;
    color: var(--text-color);
    text-decoration: none;
}

.sitenav__link:hover::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    content: "";
}

.sitenav__link:hover {
    color: var(--text-dark);
}


/* MAIN-CONTENT */

main {
    flex-grow: 1;
}



/* SITE-HEADER */
.site-header__container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--divider-bg);
}

.site-header__logo {
    flex-shrink: 0;
    margin-right: 56px;
}

.site-header__sitenav {
    margin-right: auto;
}


.site-header__cart {

}

.site-header__cart-link {
    position: relative;
    display: flex;
    color: var(--text-color);
}

.site-header__cart-link:hover {
    color: var(--text-dark);
}

.site-header__cart-link:active {
    opacity: 0.6;
}

.site-header__cart-product-count {
    position: absolute;
    left: calc(100% - 13px);
    top: -6px;
    padding: 1px 6px;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 10px;
    line-height: normal;
    font-weight: bold;
    border-radius: 6.5px;
}

.site-header__cart-icon {
    width: 22px;
    height: 20px;
    object-fit: contain;
}


